@import './_reset.scss';
@import './_variables.scss';
@import './_fonts.scss';

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 1rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.link {
  color: rgb(181 153 255);
}

.link:hover {
  font-weight: 500;
}

h2 {
  margin-bottom: 0.75rem;
}

.highlight-word {
  color: rgb(237, 163, 24);
  // color: rgba(var(--v-theme-second), );
}
